---
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% include head.html %}

<body>
	<div id="main">
		{% include header.html %}
	
		<div id="content">
			<div class="sidebar">
				<div class="left">
					<img class="sidepic" src="images/grill.jpg" alt="Radiator repair is our specialty." border="5">
				</div>
				<div class="right">
					<h2>Welcome!</h2>
					<p>
						Caruso Auto & Radiator has been serving the greater DuBois and Weedville area's auto, light truck, and industrial radiator repair needs for 25 years.  Located on River Road in Weedville, we offer a convenient location that provides unmatched customer satisfaction.  We understand how vital your vehicle is to your daily life; thus, we ensure your repair will be completed in a timely manner.  Even more importantly, owner Terry Caruso has the experience necessary to make the repair last.
					</p>
					<p>
						Caruso Auto & Radiator now offers auto detailing in addition to its variety of other <a href="services.html">services</a>.  Have a question or want to learn more?  Feel free to <a href="contactus.html">contact us</a> or stop in and see us today!
					</p>
				</div>
			</div>
		</div>
		
		{% include footer.html %}
	</div>
</body>
