---
title: Services
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% include head.html %}

<body>
	<div id="main">
		{% include header.html %}
	
		<div id="content">
			<div class="three">
				<div class="left">
					<h2>Auto & Light Trucks</h2>
					<ul>
						<li>Cooling System Flush & Fill</li>
						<li>Radiator New & Recored or Repaired</li>
						<li>New Gas Tanks</li>
						<li>AC Condensers</li>
					</ul>
				</div>
				<div class="center">
					<h2>Heavy Trucks</h2>
					<ul>
						<li>Air to air coolers</li>
						<li>Replace broken plastic tanks</li>
						<li>Recore existing radiators</li>
						<li>New replacement radiators</li>
					</ul>
				</div>
				<div class="right">
					<h2>Industrial Radiators</h2>
					<ul>
						<li>Farm Tractors New or Recored</li>
						<li>Forklift/Excavator</li>
						<li>Backhoe/Small Dozer</li>
					</ul>
				</div>
			</div>
			<div class="two">
				<div class="right">
					<h2>Auto Detailing</h2>
					As a part of our effort to continuously serve you better, we now offer complete auto detailing.  Give us a call today to rid your car of the winter dirt and grime.
				</div>
				<div class="left">
					<h2>We also service...</h2>
					<ul>
						<li>Water Pumps</li>
						<li>Hoses</li>
						<li>Belts</li>
					</ul>
				</div>
			</div>
		</div>
		
		{% include footer.html %}
	</div>
</body>
